# Introdução ao básico de Python

Não é um requisito desta disciplina ter conhecimento prévio de linguagens de programação (R, Python, etc.). No entanto, iremos introduzir gradualmente ao aluno o Python, que será a base para os códigos deste curso. Nas próximas aulas, veremos o que é o Python, por que utilizamos ele (e não o R, por exemplo),e suas vantagens e desvantagens. Ao longo do curso, optamos também por utilizar a IDE (Ambiente de desenvolvimento integrado) disponibilizada pelo google, Google Colab, e que nos permite ensinar a linguagem sem necessitar de instalações extras, facilitando todo o processo. Se os alunos demonstrarem interesse, podemos disponibilizar tutoriais de como instalar o Python em seus computadores pessoais e as principais IDEs.

### 1. Familiarização com o Google Colab

Antes mesmo de começarmos a programar, um exercício importante para qualquer linguagem e IDE é o de explorar a ferramenta. Clique nas abas e botões e descubra quais opções são disponibilizadas pela IDE

### 2. Comentários e Texto Markdown

Em python, você pode escrever texto que não é código de duas maneiras: com comentários em células de código e com células markdown. Tente rodar a célula de código abaixo, o que acontece?

In [1]:
# print('hello world')

Sempre que quiser escrever alguma coisa que não necessariamente deseja rodar ou que não é código, utilize comentários. Uma utilidade adicional muito importante dos comentários é a descrição do que a linha de código está fazendo, ou um sumário de uma célula de código inteira. ***Um bom uso dos comentários e de texto markdown facilita tanto a vida do futuro você quanto de outras pessoas que lerão o seu código. Utilize sempre que possível!***

Para comentar/descomentar múltiplas linhas de código de uma vez, você pode utilizar "Ctrl" + "/" no Colab. Tente descomentar as linhas de códigos a seguir

In [ ]:
# Isso aqui é código
# a
# b
# c
# d
# e
# f
# g
# h

### 3. Comando "Print"

O comando "print" é um dos mais básicos do Python, mas também um dos mais importantes e utilizados. O comando imprime qualquer coisa que desejar, desde texto simples (e.g. "Olá Mundo"), até variáveis, resultados de cálculos, etc. Leia mais sobre o comando na [documentação](https://docs.python.org/pt-br/3/library/functions.html?highlight=print#print) do Python. Nas próximas subseções, exploraremos alguma das possibilidades do comando.

In [2]:
# Imprimindo (Printing) uma string

print('Olá, mundo!')

Olá, mundo!

Esse é o exemplo mais clássico da função deste comando. Uma string nada mais é do que uma sequência de texto, que está encapsulada em aspas (tanto aspas simples quanto dupla). O python identificará automaticamente que quaisquer caracteres entre aspas é uma string.

In [3]:
print('Texto em aspas simples')

Texto em aspas simples

In [4]:
print("Texto em aspas duplas")

Texto em aspas duplas

Se quiser imprimir aspas dentro de uma string, você pode fazer de duas maneiras:

In [5]:
# a. Aspas duplas no total da string e aspas simples dentro da string

print("Aqui está uma 'aspa' dentro da string")

# b. Aspas duplas com duas barras

print("Texto com duas \"Aspas\" duplas")

Aqui está uma 'aspa' dentro da string
Texto com duas "Aspas" duplas

Você pode imprimir números diretamente:

In [6]:
print(123456)

123456

Pode imprimir os valores de uma variável:

In [7]:
x = 5

print(x)

5

Para quebrar linhas dentro de um print, você pode utilizar o "\n"

In [8]:
print("Quero meu texto \n dividido")

Quero meu texto
 dividido

O print ainda tem algumas funções extras que podem vir a calhar

*SEP*

In [9]:
# "sep" permite separar diversas strings com algum padrão

print("Olá", "Mundo", "Isso", "Aqui", "É", "Doido", sep = "...")

Olá...Mundo...Isso...Aqui...É...Doido

Observe que a vírgula separando cada uma das string faz com que tenhamos 6 strings ao invés de uma única. A opção "end" permite que você defina o que irá separar dois prints seguidos. O padrão é uma quebra de linha

*END*

In [10]:
print("Olá", end = ',')
print(' Mundo!')

Olá, Mundo!

In [11]:
print("Olá,")
print("Mundo")

Olá,
Mundo

#### Exercícios

1 - Vamos começar com algo básico: escreva uma célula de código que imprima "Olá, [seu nome]"

In [12]:
# Seu código vai aqui
print("Olá, Pedro e Luiz")

Olá, Pedro e Luiz

2 - Imprima a seguinte soma:

In [13]:
soma = 7+9

print(soma)

16

3 - Imprima os números de 1 a 10, cada um em uma linha diferente

In [18]:
# Seu código vai aqui
print("1\n2\n3\n4\n5\n6\n7\n8\n9\n10")

1
2
3
4
5
6
7
8
9
10

In [20]:
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , sep = '\n')

1
2
3
4
5
6
7
8
9
10

4 - Qual o problema com o seguinte código?

In [25]:
print("A comida do restaurante estava "deliciosa" hoje.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-25-1184d317c8ac>, line 1)

A palavra deliciosa está sendo tratada como uma variável, porque a maneira como as aspas duplas foi usada está confundindo o comando `print()`. Do jeito que está, temos uma string em "A comida... estava ", uma variável `deliciosa` e, por fim outra string " hoje.". Dessa forma, para corrigir o código, deveríamos, primeiro, atribuir algum valor para a variável `deliciosa` e colocar uma vírgula antes e depois dela. Alternativamente, podemos simplesmente "escapar" as aspas duplas usando \\".

In [26]:
print("A comida do restaurante estava \"deliciosa\" hoje.")

A comida do restaurante estava "deliciosa" hoje.

### 4. Comando "Input"

O comando "input" em Python é usado para solicitar dados de entrada do usuário durante a execução do programa. Ele permite que o programa interaja com o usuário, recebendo valores digitados pelo teclado e armazenando-os em variáveis para posterior uso. A sintaxe básica do comando "input" é a seguinte:

In [27]:
nome_da_variavel = input("Mensagem para o usuário: ")

Mensagem para o usuário: Oi!

A função "input" recebe uma mensagem opcional (entre as aspas) que será exibida ao usuário para solicitar a entrada de dados. O valor digitado pelo usuário é armazenado na variável "nome_da_variavel". Aqui está um exemplo simples para solicitar o nome do usuário e exibi-lo na tela:

In [29]:
# Solicitando o nome do usuário
nome = input("Digite o seu nome: ")

# Exibindo o nome na tela
print("Olá, " + nome + "! Bem-vindo ao nosso programa.")

Digite o seu nome: Pedro e Luiz
Olá, Pedro e Luiz! Bem-vindo ao nosso programa.

Neste exemplo, a mensagem "Digite o seu nome:" é exibida ao usuário, e o valor digitado por ele é armazenado na variável "nome". Em seguida, o programa utiliza o comando "print" para exibir uma mensagem de boas-vindas contendo o nome informado.

Lembre-se que o valor digitado pelo usuário é sempre tratado como uma string (texto). Caso deseje utilizar o valor como outro tipo de dado, é necessário realizar a conversão adequada, como por exemplo, usando as funções "int()" ou "float()" para números inteiros ou de ponto flutuante, respectivamente.

Exemplo 1: Conversão para número inteiro (int)

In [ ]:
# Solicitando a idade do usuário
idade_str = input("Digite a sua idade: ")

# Convertendo a idade para número inteiro
idade_int = int(idade_str)

# Realizando operações com o valor convertido
idade_ano_que_vem = idade_int + 1

# Exibindo o resultado
print("No próximo ano, você terá", idade_ano_que_vem, "anos.")

Digite a sua idade: 20
No próximo ano, você terá 21 anos.

Neste exemplo, o programa solicita a idade do usuário usando o comando "input" e armazena o valor digitado na variável "idade_str", que é tratada como uma string. Em seguida, usamos a função "int()" para converter essa string em um número inteiro e armazenamos o resultado na variável "idade_int". Dessa forma, podemos realizar operações matemáticas com esse valor e exibir o resultado na tela.

Exemplo 2: Conversão para número de ponto flutuante (float)

In [ ]:
# Solicitando o peso do usuário
peso_str = input("Digite o seu peso (em kg): ")

# Convertendo o peso para número de ponto flutuante
peso_float = float(peso_str)

# Calculando o peso na Lua (16.5% do peso na Terra)
peso_lua = peso_float * 0.165

# Exibindo o resultado
print("Seu peso na Lua seria de", peso_lua, "kg.")

Digite o seu peso (em kg): 80
Seu peso na Lua seria de 13.200000000000001 kg.

Neste exemplo, o programa solicita o peso do usuário usando o comando "input" e armazena o valor digitado na variável "peso_str", que é tratada como uma string. Em seguida, usamos a função "float()" para converter essa string em um número de ponto flutuante (número decimal) e armazenamos o resultado na variável "peso_float". Assim, podemos realizar cálculos matemáticos envolvendo esse valor e exibir o resultado na tela.

Lembre-se que, ao realizar a conversão de tipos, é importante garantir que o valor digitado pelo usuário seja compatível com o tipo que você deseja converter. Caso contrário, o programa pode gerar um erro durante a execução. É sempre uma boa prática adicionar tratamentos de exceções para lidar com essas situações, mas para fins de exemplo aqui, vamos considerar que o usuário insere valores válidos.

*Nota*: É importante destacar que, em aplicações acadêmicas, o uso do "input" pode ser limitado ou pouco utilizado, especialmente em ambientes onde a interação direta com o usuário não é uma prioridade.Em muitas aplicações acadêmicas, o foco está na análise de dados, algoritmos complexos ou modelagem teórica, onde a entrada de dados é frequentemente feita através de arquivos ou parâmetros definidos previamente. Essa abordagem é preferível para evitar inconsistências ou erros de digitação que podem ocorrer quando o usuário insere dados manualmente.

#### Exercícios

1 - Peça o nome do usuário e dê as boas vindas

In [ ]:
nome = input("Digite o seu nome: ")
print("Boas vindas, ", nome)

Digite o seu nome: Luiz
Boas vindas,  Luiz

2 - Peça a idade do usuário e descubra o ano em que ele nasceu

In [ ]:
idade = int(input('Qual é a sua idade? '))
ano_atual = int(input('Digite o ano atual: '))
ano_nascimento = ano_atual - idade
print('Você nasceu em', ano_nascimento)

Qual é a sua idade? 20
Digite o ano atual: 2004
Você nasceu em 1984

3 - Faça um programa que peça a base e a altura de um triângulo e calcule a área (Area do tríangulo = b.h/2)

In [ ]:
base = float(input('Qual é a base do seu triângulo? '))
altura = float(input('Qual é a altura do seu triângulo? '))
area = base * altura / 2
print('A área do seu triângulo é', area)

Qual é a base do seu triângulo? 5
Qual é a altura do seu triângulo? 2
A área do seu triângulo é  5.0

4 - Peça o ano de nascimento do usuário e calcule sua idade

In [ ]:
ano_nascimento = int(input('Qual é o ano do seu nascimento? '))
ano_atual = int(input('Digite o ano atual: '))
idade = ano_atual - ano_nascimento
print('Você tem', idade, 'anos')

Qual é o ano do seu nascimento? 2004
Digite o ano atual: 2024
Você tem 20 anos

### 5. Variáveis

Você talvez tenha percebido que já mencionamos o nome "variável" algumas vezes ao longo do script mas não elaboramos muito sobre o que ela é. Uma variável em Python é como uma caixa que você pode usar para armazenar um valor, como um número ou um pedaço de texto. Você pode dar um nome para essa caixa e usar o nome para se referir ao valor armazenado nela mais tarde. Por exemplo, você pode criar uma variável chamada "idade" e atribuir um valor a ela, como 20:

In [30]:
idade = 20

idade

20

Agora, sempre que você usar a palavra "idade" em seu código, o valor 20 será usado. Você também pode alterar o valor armazenado em uma variável simplesmente atribuindo um novo valor a ela, como:

In [32]:
idade = 25

idade

25

Agora, quando você usa a variável "idade" em seu código, o valor 25 será usado em vez de 20. Variáveis são uma parte fundamental da programação em Python e são usadas para armazenar dados temporários ou permanentes em seu programa. Por exemplo, se você estivesse trabalhando em um banco de dados, você poderia se deparar com as seguintes informações.

In [ ]:
# Informações do usuário

nome = "João"
idade = 26
altura = 1.76
ano_nascimento = 2024-26
curso = "Ciências Sociais"

Pense nos possíveis tipos de cada variável. As variáveis númericas são iguais? Que outras variáveis podemos gerar a partir dos valores observados?

### 6. Tipos de Dados

Nas seções acima, mencionamos brevemente alguns tipos de dados como strings e números. No entanto, esta não é toda a história. A seguir, temos os principais tipos de dados do Python;

*Strings*

Como dito acima, string é qualquer tipo de caracteres (números ou letras) envoltos por aspas.

In [33]:
string1 = "Isso é uma string"

print(string1)
print(type(string1)) # Type permite descobrir o tipo de uma variável

Isso é uma string
<class 'str'>

In [ ]:
# Um número ou sequência de números com aspas também é uma string

string2 = "1sso t4mb3m é um4 str1ng"

print(string2)
print(type(string2))

1sso t4mb3m é um4 str1ng
<class 'str'>

*Inteiros (int)*

Int é um tipo de variável númerico. Nesse tipo de dados, só existem números inteiros. Isto é, sem números decimais ou "quebrados".

In [34]:
print(10, type(10))

10 <class 'int'>

In [35]:
print(-10, type(-10))

-10 <class 'int'>

In [36]:
print(0, type(0))

0 <class 'int'>

In [37]:
# Tome sempre cuidado com as aspas

print("10" == int)

False

*floats*

Como é sabido, nem todos os números são inteiros. Para isso, temos a classe float, que são os números decimais, quebrados, etc.

In [38]:
print(12.34, type(12.34)) # Nota: O decimal no Python é com '.', não com ','

12.34 <class 'float'>

In [ ]:
print(4.2, type(4.2))

4.2 <class 'float'>

*Booleanos*

Por fim, temos os valores booleanos, que são valores lógicos. São Verdadeiros (TRUE) ou Falsos (FALSE). Geralmente utilizados em comparações

In [39]:
booleano = (10==10)

print(booleano, type(booleano))

True <class 'bool'>

In [40]:
booleano2 = (0==1)

print(booleano2, type(booleano2))

False <class 'bool'>

In [41]:
booleano3 = (0==0)

print(booleano3)

True

Listas vazias são consideradas falsas

In [ ]:
print(bool(''))

False

#### Exercícios

1 - Crie uma variável str e a imprima junto do seu tipo

In [42]:
string = 'aaaaaaa'
print(string, type(string))

aaaaaaa <class 'str'>

2 - Peça ao usuário que digite sua idade e verifique o tipo de dado resultante desse input.

In [ ]:
idade = int(input("Digite a sua idade: "))
print(idade, type(idade))

Digite a sua idade: 23
23 <class 'int'>

3 - Qual o tipo das seguintes variáveis?

In [ ]:
# A) String

x = "12.52"

In [ ]:
# B) String

y = "José tem 53 anos"

In [ ]:
# C) Float

z = 17.07

In [ ]:
# D) Int

a = 3

4 - Crie uma variável de tipo booleano (imprima o tipo da variável)

In [43]:
bu = 40!=41
print(bu, type(bu))

True <class 'bool'>

## 7. Operações Aritméticas e Conversões

Você também pode utilizar o python como uma calculadora. Nesta seção, vamos mostrar as operações mais comuns.

*Operadores Aritméticos*

Soma -> +

Subtração -> -

Multiplicação -> *

Divisão -> /

Divisão Inteira (resultado arredondado) -> //

Potenciação (elevar à) -> **

% -> Resto da divisão de um número por outro

In [44]:
# Vamos começar pelos números inteiros

soma = 1 + 1

print(soma)

2

In [45]:
mult = 7*8

mult # uma forma alternativa de imprimir uma variável é colocá-la diretamente.

56

In [46]:
sub = 50-10

sub

40

In [47]:
div = 64/10

print(div, type(div))

6.4 <class 'float'>

In [48]:
pot = 2**4

print(pot, type(pot))

16 <class 'int'>

Operações aritméticas também funcionam com strings. Porém, com uma lógica diferente. Você pode multiplicar uma string por um valor inteiro

In [ ]:
print("Olá"*10)

OláOláOláOláOláOláOláOláOláOlá

Você pode concatenar duas strings

In [49]:
x = "olá"
y = " mundo"

print(x+y)

olá mundo

No entanto, não é possível multiplicar uma string por outra

In [50]:
print("Olá"*"Mundo")

TypeError: can't multiply sequence by non-int of type 'str'

Nem somar uma string e um int

In [51]:
print(5+"10")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Operações funcionam da mesma forma que os int para os floats

In [52]:
print(5.4*6.7)

36.18000000000001

In [53]:
# Se quiser arredondar o valor final

print(round((5.4*6.7), 2))

36.18

In [54]:
# Numa maneira de mais fácil visualização

mult2 = 5.4*6.7

print(round(mult2, 2))

36.18

Se tiver dúvidas sobre algum comando ou código, lembre-se de sempre consultar a [documentação](https://docs.python.org/pt-br/3/library/functions.html?highlight=round#round) do python.

*Conversões*

Para converter uma variável de um tipo para outro, você pode utilizar alguns comandos. Se, por exemplo, você tiver um número em formato de texto, pode transformá-lo em int pelo seguinte código

In [55]:
# str para int

valor = "57"

numerico = int(valor)

print(numerico, type(numerico))

57 <class 'int'>

Outras conversões são possíveis

In [56]:
#float to int
float1 = 57.8

inteiro = int(float1)

print(inteiro, type(inteiro))

57 <class 'int'>

In [57]:
# int para float

inteiro2 = 6

float2 = float(inteiro2)

print(float2, type(float2))

6.0 <class 'float'>

Também pode converter de número para texto (str)

In [65]:
inteiro3 = 12356

string1 = str(inteiro3)

print(string1, type(string1))

12356 <class 'str'>

In [66]:
float3 = 27.805432054032

string2 = str(float3)

print(string2, type(string2))

27.805432054032 <class 'str'>

#### Exercícios

1 - Peça dois números ao usuário e faça a soma destes

In [69]:
n1 = int(input('Diga o n1: '))
n2 = int(input('Diga o n2: '))
soma = n1 + n2
print("A soma do n1 com o n2 é igual a", soma)

Diga o n1: 2
Diga o n2: 3
A soma do n1 com o n2 é igual a 5

2 - Imprima o seguinte caractere 50 vezes

In [ ]:
caractere = "#"*50
print(caractere)

##################################################

3 - Peça dois números ao usuário e calcule o resultado da divisão destes

In [ ]:
n1 = int(input('Diga o n1: '))
n2 = int(input('Diga o n2: '))
div = n1 / n2
print(int(div))

Diga o n1: 2
Diga o n2: 1
2

4 - Peça dois números ao usuário e calcule o resultado da potência destes

In [ ]:
n1 = int(input('Diga o n1: '))
n2 = int(input('Diga o n2: '))
pot = n1 ** n2
print(int(pot))

Diga o n1: 5
Diga o n2: 3
125

5 - Transforme o seguinte str em float e calcule o seu valor quadrado, apresentando o valor final em no máximo duas casas decimais

In [ ]:
numstr = "42.24"
numfloat = float(numstr)
print(round(numfloat**2, 2))

1784.22

## 8. Formatação de strings

Digamos que alguém te peça para jogar todas essas informações em uma única frase. Há alguns modos de formatar a mesma informação.

In [71]:
# Básico
nome = 'João'
idade = 20
altura = 1.75
ano_nascimento = 2024
curso = 'Machine Learning'

print(nome, "tem", idade, "anos e", altura, "m de altura.", "Nascido em", ano_nascimento, ",", "atualmente está no curso de", curso)

João tem 20 anos e 1.75 m de altura. Nascido em 2024 , atualmente está no curso de Machine Learning

No entanto, essa forma é um pouco truncada e pode dificultar a leitura do código. Um modo alternativo é usar f-strings

In [72]:
# f-string

print(f'{nome} tem {idade} anos e {altura}m de altura. Nascido em {ano_nascimento}, atualmente está no curso de {curso}')

João tem 20 anos e 1.75m de altura. Nascido em 2024, atualmente está no curso de Machine Learning

Desse modo, tanto a escrita quanto a leitura do código são mais fluídas. Outra vantagem é a possibilidade de arredondar os valores dentro do print

In [73]:
bolsa = 875.164

print(f'{nome} recebe R${bolsa:.2f} como auxílio moradia')

João recebe R$875.16 como auxílio moradia

Outra possibilidade é utilizar chaves vazias e indicar as variáveis e se vai arredondar ou não ao final utilizando ".format"

In [74]:
print('{} recebe R${} como auxílio moradia'.format(nome, round(bolsa,2)))

João recebe R$875.16 como auxílio moradia

Ao utilizar esse método, a ordem das variáveis tem que ser exatamente as dos colchetes. Para evitar problemas, pode utilizar algumas indicações

In [75]:
print('{n} recebe R${b} como auxílio moradia'.format(b = round(bolsa,2), n = nome))

João recebe R$875.16 como auxílio moradia

#### Exercícios

1 - Imprima as seguintes informações de um aluno utilizando o modo "básico" estabelecido acima.

In [83]:
# Informações do aluno

nome = "Matheus"
idade = 23
ano_nascimento = 2024 - idade
curso = "Química"
bolsa = 907.22435

In [78]:
# Insira seu código aqui
print(nome, 'tem', idade, 'anos de idade e nasceu em', ano_nascimento, '. Atualmente é estudante do curso de', curso, 'e recebe uma bolsa de R$', bolsa, '.')

Matheus tem 23 anos de idade e nasceu em 2000 . Atualmente é estudante do curso de Química e recebe uma bolsa de R$ 907.22435 .

2 - Imprima as mesmas informações usando f strings

In [81]:
print(f'{nome} tem {idade} anos de idade e nasceu em {ano_nascimento}. Atualmente é estudante do curso de {curso} e recebe uma bolsa de R$ {round(bolsa, 2)}.')

Matheus tem 23 anos de idade e nasceu em 2000. Atualmente é estudante do curso de Química e recebe uma bolsa de R$ 907.22.

3 - Imprima as mesmas informações usando chaves

In [88]:
print('{a} tem {b} anos de idade e nasceu em {c}. Atualmente é estudante do curso de {d} e recebe uma bolsa de R$ {e}.'.format(a = nome,
                                                                                                                               b = idade,
                                                                                                                               c = ano_nascimento,
                                                                                                                               d = curso,
                                                                                                                               e = round(bolsa, 2)
                                                                                                                                )
)

Matheus tem 23 anos de idade e nasceu em 2001. Atualmente é estudante do curso de Química e recebe uma bolsa de R$ 907.22.

4 - Por meio das f strings, imprima o valor da bolsa do aluno usando apenas uma casa decimal

In [89]:
print(f'A bolsa de {nome} é de R$ {round(bolsa, 2)}')

A bolsa de Matheus é de R$ 907.22

5 - Peça a idade, curso e nome de um usuário e imprima essas informações utilizando f-strings

In [93]:
nome = str(input('Digite aqui seu nome: '))
idade = int(input('Agora diga a sua idade: '))
curso = str(input('Por fim, me informe seu curso: '))

print(f'Obrigado, {nome}! Atualmente você tem {idade} e é estudante de {curso}.')

Digite aqui seu nome: Maria
Agora diga a sua idade: 20
Por fim, me informe seu curso: Computação
Obrigado, Maria! Atualmente você tem 20 e é estudante de Computação.

## 9. Estruturas de Dados em Python

*Listas*: Uma lista é uma coleção ordenada e mutável de elementos. Os elementos de uma lista podem ser de diferentes tipos, como strings, inteiros, booleanos e até outras listas. As listas são representadas entre colchetes e os elementos são separados por vírgulas. Exemplo: minha_lista = [1, 2, 'três', True].

*Tuplas*: Uma tupla é semelhante a uma lista, mas é imutável, o que significa que não pode ser modificada após a criação. As tuplas são representadas entre parênteses e os elementos são separados por vírgulas. Exemplo: minha_tupla = (1, 2, 'três', True).

*Dicionários*: Um dicionário é uma coleção de pares de chave-valor, onde cada valor é acessado por uma chave exclusiva. Os dicionários são representados entre chaves e cada par de chave-valor é separado por vírgulas. Exemplo: meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}.

*Conjuntos*: Um conjunto é uma coleção não ordenada e mutável de elementos exclusivos. Os conjuntos são representados entre chaves e os elementos são separados por vírgulas. Exemplo: meu_conjunto = {1, 2, 3, 4, 5}.

In [98]:
lista = [1, 2, '3']
type(lista)

list

In [99]:
tupla = (1, 2, '3')
type(tupla)

tuple

In [100]:
dicio = {'nome':'maria', 'idade':20}
type(dicio)

dict

In [101]:
conjunto = {1, 2, 3}
type(conjunto)

set

In [105]:
# Exemplo de listas

anos = [1999,2000,2001,2002]
países = ["China", "EUA", "Brasil", "Rússia"]
IDH = [0.802, 0.789, 0.782, 0.750]

# No entanto, listas não precisam que os dados sejam do mesmo tipo (str, int, float) e podem existir listas dentro de listas (nested lists).

lista_mista = [2007,"Noruega",0.886,"etc."]

nested_list = [["Brasil", 0.782],["China", 0.802]]

type(nested_list)

list

In [104]:
# Exemplo de tuplas

anos = (1999,2000,2001,2002)
países = ("China", "EUA", "Brasil", "Rússia")
IDH = (0.802, 0.789, 0.782, 0.750)

tupla_mista = (2007,"Noruega",0.886,"etc.")

nested_tuple = (("Brasil", 0.782),("China", 0.802))

type(nested_tuple)

tuple

In [106]:
# Exemplo de dicionários

# Criando um dicionário
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

type(meu_dicionario)

dict

Dicionários já parecem um pouco mais com a estrutura de planilhas que conhecemos. Um conjunto é uma coleção de elementos únicos, sem ordem definida. Isso significa que cada elemento de um conjunto é único, e não há repetições. Os conjuntos são muito úteis para realizar operações matemáticas, como união, interseção e diferença.

Em Python, os conjuntos são representados por chaves {} ou pela função set(). Por exemplo:

In [114]:
# Criando um conjunto com chaves
meu_conjunto = {1, 2, 3, 4}

# Criando um conjunto com a função set()
outro_conjunto = set([3, 4, 5, 6])

É importante notar que os conjuntos não garantem a ordem dos elementos. Portanto, se você imprimir um conjunto, os elementos podem aparecer em uma ordem diferente da ordem em que foram adicionados.

In [117]:
conjunto = set([1, 2, 3, 2, 1, 5])
conjunto

{1, 2, 3, 5}

#### Exercícios

1 - Crie uma lista com os anos da pandemia de Covid-19

In [118]:
anos_pandemia = [2020, 2021, 2022]
anos_pandemia

[2020, 2021, 2022]

2 - Crie uma tupla com 5 países latino-americanos

In [119]:
paises_latinos = ('Argentina', 'Chile', 'Bolívia', 'Uruguai', 'Paraguai')
paises_latinos

('Argentina', 'Chile', 'Bolívia', 'Uruguai', 'Paraguai')

3 - Peça o nome e idade do usuário e crie um dicionário com esses valores

In [120]:
nome = str(input('Digite aqui o seu nome: '))
idade = int(input('Digite aqui a sua idade: '))

dicio = {
    'nome':nome,
    'idade':idade
}

dicio

Digite aqui o seu nome: Luiz
Digite aqui a sua idade: 23

{'nome': 'Luiz', 'idade': 23}

4 - Crie um conjunto com diversos objetos utilizando a função set()

In [122]:
objeto1 = 'Monitor'
objeto2 = 'Teclado'
objeto3 = 'Mouse'
objeto4 = 'Monitor'

conjunto = set([objeto1, objeto2, objeto3, objeto4])
conjunto

{'Monitor', 'Mouse', 'Teclado'}

## Conclusão

Neste laboratório, o intuito era de o de introduzir os comandos, tipos de dados e operações básicas que existem em Python. Na próxima aula, discutiremos um pouco mais sobre como trabalhar com as estruturas de dados citadas acima (listas, tuplas, etc.), operadores condicionais (if, else, elif) e alguns operadores de repetição (loop, while).